@import '../../../util.scss';

.movieItem {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 16px 20px 16px 0;
	background: #fff;
	&::after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    background: #DCDCDC;
	    width: 100%;
	    height: 1px;
	    -webkit-transform: scaleY(0.2);
	    transform: scaleY(0.2);
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	}

	&-poster  {
		margin-right: 11px;

		img {
			width: 65px;
			height: 96px;
			border: 1px solid rgba(147, 146, 154, 0.2);
			border-radius: 4px;
		}
	}
	
	&-detail {
		flex: 1 1;
		line-height: 1;
		}

		&-title {
			margin: 4px 0 10px 0;
			font-size: 16px;
			font-weight: 600;
			color: $black;
			letter-spacing: 0px; 
		}

		&-rate {
			margin: 0 0 10px 0;
			font-size: 13px;
			color: $gray;
			letter-spacing: 0px;  

			span {
				font-size: 15px;
				font-weight: bolder;
				color: #ffa54b;
				letter-spacing: 0px; 
			} 
		}

		&-director {
			margin: 0 0 8px 0;
			font-size: 13px;
			color: $gray;
			letter-spacing: 0px;  
		}

		&-actor {
			margin: 0 0 8px 0;
			font-size: 13px;
			color: $gray;
			letter-spacing: 0px;  
		}

	&-buy {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		}

		&-buyBtn {
			height: 30px;
			padding: 0 14px;
			margin-bottom: 6px;
			background: #ff6f90;
		    background: -webkit-linear-gradient(bottom left, #ff7ba0, #ff4d64);
		    background: -o-linear-gradient(bottom left, #ff7ba0, #ff4d64);
		    background: linear-gradient(to top right, #ff7ba0, #ff4d64);
			border-radius: 16px;
			font-size: 12px;
			color: #fff;
			line-height: 30px;
			
		}
		&-buyPrice {
			font-size: 9px;
			color: #999;
		}

}