		.tTag {
			position: relative;
			display: inline-block;
			padding: 2px 4px;
			font-size: 12px;
			// border: 1px solid;
			// border-radius: 5px;
			// text-align: center;
			line-height: 18px;

			&::after {
				content: '';
			    width: 200%;
			    height: 200%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    border: 1px solid #bfbfbf;
			    border-radius: 4px;
			    -webkit-transform: scale(0.5,0.5);
			    transform: scale(0.5,0.5);
			    -webkit-transform-origin: top left;
			}

			&:nth-child(n + 2) {
				margin-left: 6px;
			}
			&-red {
				color: #ac646f;
				border-color: #ac646f;
			}
			&-blue {
				color: #4f85b1;
				border-color: #4f85b1;
			}

		}
		